.wrapper{
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

body{
	background-image: url('./img/bridge.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#box-section{
  margin: 30px;
  width: 560px;
  height: 560px;
  background: lime;
  display:grid;

  
}

.littleOnes{
  background: lime;
  /*border: 1px solid black;
  grid-template-columns: (16,1fr);
  grid-template-columns: auto;
  grid-auto-columns: minmax(10px,auto);
  grid-template-rows: repeat(3,1fr);*/

}

.form-section{
	display: grid;
}

.my-form{
	justify-self: center;
}

body > h1{
	text-align: center;
}

#submitBtn{
	border-radius: 9px;
	padding: 5px;
	background: #34495E;
	color: white;
}

#submitBtn:hover{
	color: #F1570A;
	background: #16DEF3;
}

#reset{
	border-radius: 9px;
	padding: 5px;
	background: #34495E;
	color: white;
}

#reset:hover{
	color: #F1570A;
	background: #16DEF3;
}

#numberBoxes{
	border-radius: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}

a{
	text-decoration: none;
	color: #0C0B0B;
	border-bottom: 1px solid #453886;
	padding-bottom: .25em;
}

a:hover {
  color:#E2DC1A;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
}