.wrapper{
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

body{
	background-image: url('./img/bridge.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#box-section{
  margin: 30px;
  width: 560px;
  height: 560px;
  background: lime;
  display:grid;

  
}

.littleOnes{
  background: lime;
  /*border: 1px solid black;
  grid-template-columns: (16,1fr);
  grid-template-columns: auto;
  grid-auto-columns: minmax(10px,auto);
  grid-template-rows: repeat(3,1fr);*/

}

.form-section{
	display: grid;
}

.my-form{
	justify-self: center;
}

body > h1{
	text-align: center;
}

